@import '@fontsource/fira-mono';

:root {

	/* Global Pallette */
	--c1-color: #49739c;
	--c1-accent: #6094c9;
	--c1-muted: rgb(14, 58, 102);

	--bg-color: #302E2B;
	--bg-accent: #141312;
	--bg-muted: #232525;

	/* Font Settings */
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 12rem;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	color: var(--c1-color);

}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--bg-color);
	background-size: 100vw 100vh;
	display: flex;
	justify-content: center;
}

h1, h2, p {
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: var(--c1-accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}


.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
